#title{
    font-size: xxx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    background-image: url(img/kitchen.jpg);
}
.container1{
    height: auto;
    width: auto;
    color: white;
    border: 5px solid;
    display: inline;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
}
#menuBtn{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-image: url("img/menuBTN.png");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    border: none; 
    margin-bottom: -20px;
}
#menuBtn:hover{
    background-color: cyan;
    border: 5px solid black;
}
#searchTab{
    height: 50px;
    width: 70%;
    margin: 10px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;

}
#searchBtn{
    height: 50px;
    width: 50px;
    border-radius: 10px;
    background-image: url("img/search.jpg");
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    border: none; 
    margin-bottom: -20px; 

}
#container2{
    width: 500px;
    height: 500px; 
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
#container2 img {
    width: 100%; 
    height: 100%; 
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out; 
}
#container2 img:first-child {
    opacity: 1; 
}


#container3{
    height: auto;
    width: auto;
    border: 1px solid;
    box-shadow: 1px 1px 5px;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 5px;
    margin: 10px;
}
.canteenName{
    font-size: large;
    height: 100px;
    width: 50%;
    margin: 1%;
    border-radius: 10px;
}